ul {
    list-style: none;
    padding: 0;
    margin: auto;
}

li {
    font-size: 1.3rem;
    line-height: 2rem;
    align-items: center;
}

.links {
    text-decoration: none;
    color: #61dafb;
}
.links:hover{
    text-decoration: none;
    color: #61dafb;
}

.button {
    position: relative;
    width: 250px;
    height: 40px;
    display: block;
    background: linear-gradient(90deg, #F27A54 0%, #A154F2 100%);
    border:none;
    margin-top: 20px;

}
